*{
    margin: 1px;
    padding: 2px;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
body {
    background-color: black;
}

article.post {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 550px;
    background-color: white;
    margin: 0 auto;
    border: 1px rgb(19, 19, 228) solid;
}
article.post header div.logo {
    display: flex;
    flex-direction: row;
}
.opciones {
    display: flex;
    justify-content: end;
}
header.partealta{
    display: flex;
    justify-content: space-between;
}
.HTML5 {
    width: 3px;
    height: 20px;
}
